target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
collection.tsv
.idea/misc.xml
doc_0
doc_1
doc_2
doc_3
doc_4
doc_5
doc_6
doc_7
doc_8
docIds
freq_0
freq_1
freq_2
freq_3
freq_4
freq_5
freq_6
freq_7
freq_8
frequencies
voc_0
voc_1
voc_2
voc_3
voc_4
voc_5
voc_6
voc_7
voc_8
vocabulary
frequenciesCompressed
docIdsCompressed
vocabularyCompressed
